
body { 
	font-family: Andale Mono,AndaleMono,monospace; 
}
.parallax {
    /* The image used */

    /* Set a specific height */
    min-height: 5px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size:  500px auto;
    word-wrap: break-word;
    -moz-background-size:  500px auto;
    -o-background-size:  500px auto;
    -webkit-background-size:  500px auto; /* safari may need this */
    @media (max-width: @iphone-screen) {
        background-attachment: scroll;
        background-size:  500px auto;

    }
    }

.img-1 {
    background-image: url("img1.jpg");
}
.img-2 {
    background-image: url("img2.jpg");
}

.img-3 {
    background-image: url("img3.jpg");
}

.img-4 {
    background-image: url("img4.jpg");
}

.img-5 {
    background-image: url("img5.jpg");
}

.img-6 {
    background-image: url("img6.jpg");
}

.font-1 {
    font-size:60px;
    padding: 1vw;
}

.font-2 {
    font-size:30px;
    padding: 1vw;
}

.font-3 {
    font-size:20px;
    padding: 1vw;
}

mark {
    background-color: rgb(224, 224, 224);
    opacity: 0.9;
}

  .center {
    margin-left: auto;
    margin-right: auto;
  }

    html {
    height: 100vh; /* set viewport constraint */
    min-height: 100%; /* enforce height */
    }