
body, html {
    height: 100%;
    margin: 0;
    font-family: Andale Mono,AndaleMono,monospace; 
    color: #111;
    overflow-x:hidden;
  }
  body {
    position:relative;

  }
  
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bg-noimg, .footer {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5px;
  
  }
  .bgimg-1 {
    background-image: url("img1.jpg");
    min-height: 100%;
  }
  blockquote {
      display: inline-block;
  }
  .bg-noimg {
    background-color: white;
    text-align: center;
    opacity: 0.9;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    opacity: 0.92;
    color: rgb(0, 0, 0);
    padding: 5px;
    font-size: 20px;
    letter-spacing: 5px;
  }

  .footerz {
    background-color:#282E34;
    text-align: left;
    opacity: 0.9;
    color: rgb(203, 203, 203);
    padding: 18px;
    font-size: 20px;
    line-height: 35px;
  }
  
  .inline {
      display: inline-block;
  }
  
  .bgimg-2 {
    background-image: url("img2.jpg");
    min-height: 400px;
  }
  
  .bgimg-3 {
    background-image: url("img3.jpg");
    min-height: 400px;
  }
  
  .bgimg-4 {
    background-image: url("img4.jpg");
    min-height: 400px;
  }
  
  .bgimg-5 {
    background-image: url("img5.jpg");
    min-height: 400px;
    background-position: top;
    background-size:cover;
  }

  a {
    color:#282E34;
    text-decoration:none ;
    padding: 5px;
    
  }
  
  .caption {
    position: relative;
    right:4%;
    left:35%;
    width: 60%;
    text-align: center;
    color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0.5);
  }
  
  .caption span.border, .regcontent {
    background-color: rgb(255, 255, 255);
    opacity: 0.92;
    color: rgb(0, 0, 0);
    padding: 18px;
    font-size: 20px;
    letter-spacing: 5px;
  }
  
  
  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }
  
  /* Turn off parallax scrolling for tablets and phones */
  @media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
      background-attachment: scroll;
    }
    .bgimg-3 {
      background-size: 800px 800px;
    }
  }

  .text-right {
      float: right;
  }




/* 
body { 
	font-family: Andale Mono,AndaleMono,monospace; 
}
.parallax {
    z-index: auto;
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size:  800px 800px;
    word-wrap: break-word;
    -moz-background-size:   800px 800px;
    -o-background-size:   800px 800px;
    -webkit-background-size:  800px 800px; 
    @media (max-width: @iphone-screen) {
        background-attachment: scroll;
        background-size:  800px 800px;
        min-height: 800px;
      }
    }
.sm {
  min-height: 5px;
}

.img-1 {
    background-image: url("img1.jpg");
}
.img-2 {
    background-image: url("img2.jpg");
}

.img-3 {
    background-image: url("img3.jpg");
}

.img-4 {
    background-image: url("img4.jpg");
}

.img-5 {
    background-image: url("img5.jpg");
}

.img-6 {
    background-image: url("img6.jpg");
}

.font-1 {
    font-size:40px;
    padding: 1vw;
}

.font-2 {
    font-size:20px;
    padding: 1vw;
}

.font-3 {
    font-size:15px;
    padding: 1vw;
}

mark {
    background-color: rgb(224, 224, 224);
    opacity: 0.9;
}

  .center {
    margin-left: auto;
    margin-right: auto;
  } */
